@import url("http://db.onlinewebfonts.com/c/18388ffae47d04063d2b24fc4a9cff60?family=Publico+Headline+Web+Bold");
@import url("http://db.onlinewebfonts.com/c/0d39a4e3c36c494c84e2c38618bfed33?family=Publico+Text+Web");
@import url("http://db.onlinewebfonts.com/c/24ccee2ccbf3d81b58e3ef583a2431e5?family=Publico+Text+Web+Bold");
@import url("http://db.onlinewebfonts.com/c/7f1500be337b04b554c7956cef297d90?family=Publico+Text+Web+Italic");
@import url("http://db.onlinewebfonts.com/c/1273d9cc8e74f85a3e5dd1b732aa2b4c?family=Avenir+Next+Cyr");

@page {
  font-family: "Avenir Next Cyr", sans-serif;
  margin: 1in;
  @bottom-left {
    color: #a9a;
    content: 'Richard Kasperowski';
    font-size: 9pt;
  }
  @bottom-center {
    color: #a9a;
    content: 'www.kasperowski.com';
    font-size: 9pt;
  }
  @bottom-right {
    color: #a9a;
    content: 'richard@kasperowski.com';
    font-size: 9pt;
  }
}

html {
  color: #14213d;
  font-family: "Publico Text Web", serif;
  font-size: 10pt;
  line-height: 1.6;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

body {
  color: #000000;
  font-family: "Publico Text Web", serif;
  margin: 0;
  font-size: 10pt;
}

.student-quote {
  font-family: "Publico Text Web Italic", serif;
}

h1 {
  color: #5CA5DC;
  font-family: "Publico Headline Web Bold", serif;
  font-size: 20pt;
  margin: 0;
  text-align: center;
}

h2 {
  color: #5CA5DC;
  font-family: "Publico Text Web Bold", serif;
  font-size: 14pt;
  margin: 0;
}

h3 {
  color: #5CA5DC;
  font-family: "Avenir Next Cyr", sans-serif;
  font-size: 10pt;
  margin: 0;
}

aside {
  display: flex;
  margin: 2em 0 4em;
}
aside address {
  font-style: normal;
  white-space: pre-line;
}
aside address#from {
  color: #a9a;
  flex: 1;
}
aside address#to {
  text-align: right;
}

dl {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
dt, dd {
  display: inline;
  margin: 0;
}
dt {
  color: #a9a;
}
dt::before {
  content: '';
  display: block;
}
dt::after {
  content: ':';
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: .2mm solid #a9a;
  color: #a9a;
  font-size: 10pt;
  font-weight: 400;
  padding-bottom: .25cm;
  text-transform: uppercase;
}
td {
  padding-top: 7mm;
}
td:last-of-type {
  color: #1ee494;
  font-weight: bold;
  text-align: right;
}
th, td {
  text-align: center;
}
th:first-of-type, td:first-of-type {
  text-align: left;
}
th:last-of-type, td:last-of-type {
  text-align: right;
}
table#total {
  background: #f6f6f6;
  border-color: #f6f6f6;
  border-style: solid;
  border-width: 2cm 3cm;
  bottom: 0;
  font-size: 20pt;
  margin: 0 -3cm;
  position: absolute;
  width: 18cm;
}