Brotli==1.0.9
cffi==1.15.0
cssselect2==0.5.0
fire==0.4.0
fonttools==4.29.1
html5lib==1.1
importlib-metadata==4.11.2
lxml==4.9.3
Markdown==3.3.6
numpy==1.22.2
opencv-python==4.5.5.62
pdf2docx==0.5.3
Pillow==10.0.0
pycparser==2.21
pydyf==0.7.0
PyMuPDF==1.23.3
pyphen==0.12.0
python-docx==0.8.11
six==1.16.0
termcolor==1.1.0
tinycss2==1.1.1
weasyprint==59.0
webencodings==0.5.1
zipp==3.7.0
zopfli==0.1.9
