@import "common.css";

body {
  color: black;
  font-family: "Publico Text Web", serif;
  font-size: 10pt;
  margin: 0.83in 1.1in 0.83in 1.1in; /* top | right | bottom | left */
  padding: 0 0 0 0;
}
